<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
        <%# name属性.roomキーの中に[user_ids]を含める設定。[]は23行目で記述されたバリュー（user.id）が入る。プルダウンで選択したユーザーが入る %>
          <option>チャットするユーザーを選択してください</option>
          <%= User.where.not(id: current_user).each do |user| %>
          <option value=<%= user.id %>><%= user.name%></option>
          <% end %>
        </select>
        <input name= "room[user_ids][]" type="hidden" value=<%= current_user.id %>>
        <%# 19行目の記述はプルダウンで選んだユーザーだけが入るため上記では[]の中にカレントユーザー(バリュー）が入るように設定している%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
